body {
    font-family: 'Ubuntu', sans-serif;
}

#app {
    position: relative;
    width: 100vw;
    min-width: 600px;
}

main {
    width: 75%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    main {
        width: 100%;
    }
}

.center-in-container {
    margin-left: auto !important;
    margin-right: auto !important;
}

#startup {
    position: absolute;
    left: 50%;
    top: 50%;
}

#mobile-sorry {
    transform: translate(-50%, 0);
}

/* Center the loader */
#spinner {
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/** Markdown styling */
br {
    content: 'A';
    display: block;
    margin-bottom: 0.5em;
}

code {
    /* padding: 0 3px;
    border: 1px solid #CCC;
    border-radius: 2px;
    background: #FFF; */
    color: peru;
}

pre.code {
    padding: 2px 5px;
    border: 1px solid #DDD;
    background: #FFF;
    border-left-width: 3px;
}