body {
    font-family: 'Ubuntu', sans-serif;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#startup {
    position: absolute;
    left: 50%;
    top: 50%;
}

#loader-text {
    margin-top: 2rem;
    transform: translate(-50%, 0);
}

#mobile-sorry {
    transform: translate(-50%, 0);
}

/* Center the loader */
#spinner {
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.raised {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.pointer {
    cursor: pointer;
}

.CodeMirror {
    line-height: 20px;
}


.CodeMirror-selected {
    background-color: white !important;
}

.CodeMirror-selectedtext {
    color: red !important;
}

.cm-matchhighlight {
    background-color: #7aa4ff81
}

.CodeMirror-selection-highlight-scrollbar {
    background-color: blue
}

.highlight-gutter {
    background-color: #aaaaaa7c;
}

.highlight-line {
    background-color: #ebebeb23;
}

.CodeMirror-matchingbracket {
    color: red;
}

.dark-background {
    background-color: #363636;
}

.light-dark-background {
    background-color: #f7f7f7;
}

.panel {
    background: #e0e1e2;
    padding: 3px 7px;
    font-size: 0.85em;
}

.remove-padding {
    padding: 0 !important;
}

.remove-row-padding {
    padding-bottom: 0 !important;
}

.left-row-padding {
    padding-left: 2rem !important;
    padding-top: 1rem;
}

.tree-view {
    height: 78vh;
    overflow: auto;
}

.tree-view .item {
    cursor: pointer;
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.tree-view .modified {
    color: #667be9 !important;
}

.tree-view .selected {
    color: #4FAF62 !important;
}

.button-checklist {
    position: absolute !important;
    bottom: 1rem;
    z-index: 99;
}

.button-end-review {
    position: absolute !important;
    bottom: 1rem;
    right: 2rem;
    z-index: 99;
}

.checklist-container {
    position: absolute !important;
    bottom: 3.5rem;
    max-height: 45vh;
    z-index: 99;
}

.checklist {
    overflow: auto;
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.code-editor-search-fab {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 99;
}

.code-editor-clear-fab {
    position: absolute;
    right: 8.5em;
    bottom: 3.7em;
    z-index: 99;
}

.code-editor-theme-dropdown {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #777777;
    z-index: 99;
}

.code-editor-fold-buttons {
    position: absolute !important;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}

.code-editor-bottom-controls {
    position: absolute !important;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0);
    color: #777777 !important;
    z-index: 99;
}

.code-editor-bottom-controls .fold-buttons {
    margin: 0 2em;
    cursor: pointer;
}

.unchanged_line {
    background-color: #58585867;
}

.halloween_line {
    background-color: darkred;
}

.comment-display {
    height: 93vh;
    overflow: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1px;
}

/** Markdown styling */
br {
    content: 'A';
    display: block;
    margin-bottom: 0.5em;
}

code {
    /* padding: 0 3px;
    border: 1px solid #CCC;
    border-radius: 2px;
    background: #FFF; */
    color: peru;
}

pre.code {
    padding: 2px 5px;
    border: 1px solid #DDD;
    background: #FFF;
    border-left-width: 3px;
}

.user-study-controls {
    /* position: absolute !important;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99; */

    position: fixed !important;
    top: -0.4rem;
    right: 0;
    z-index: 99;
}