@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.CodeMirror {
    line-height: 20px;
}


.CodeMirror-selected {
    background-color: white !important;
}

.CodeMirror-selectedtext {
    color: red !important;
}

.cm-matchhighlight {
    background-color: lightgreen
}

.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}

.highlight-gutter {
    background-color: #DEDEDC;
}

.highlight-line {
    background-color: #f8f8f8;
}

.CodeMirror-matchingbracket {
    color: red;
}

.dark-background {
    background-color: #363636;
}

.light-dark-background {
    background-color: #f8f8f8;
}

.remove-padding {
    padding: 0 !important;
}

.tree-view {
    padding: 10px !important;
}

.tree-view .item {
    cursor: pointer;
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.tree-view .modified {
    color: #667be9 !important;
}

.tree-view .selected {
    color: #4FAF62 !important;
}

.checklist {
    display: block;
    position: absolute !important;
    bottom: 2em;
    /* margin-left: 10px !important;
    margin-right: 10px !important; */
    max-height: 300px;
    z-index: 100;
    overflow: auto;
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.checklist-button {
    position: absolute !important;
    bottom: 0;
    left: 0;
}