body {
    margin: 0;
}

main {
    margin: 1em;
}

header {
    background-color: antiquewhite;
}

p {
    margin-left: 220px;
    margin-right: 10vw;
}

.CodeMirror pre.CodeMirror-line {
    margin-right: 200px;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}