body {
    margin: 0;
}

main {
    margin: 1em;
}

header {
    background-color: antiquewhite;
}

p {
    margin-left: 220px;
    margin-right: 10vw;
}

.CodeMirror {
    /* border: 1px solid #eee;
    height: auto; */
    width: 800px;
    line-height: 20px;
}


.CodeMirror-selected {
    background-color: white !important;
}

.CodeMirror-selectedtext {
    color: red !important;
}

.cm-matchhighlight {
    background-color: lightgreen
}

.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}

.background-modifier {
    background-color: red;
}

.CodeMirror-matchingbracket {
    color: red;
}

.tree-view {
    width: 200px;
}

.tree-view .item {
    cursor: pointer;
}