<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fabian Zeiher" />
    <title>Studie | Code-Review-Editor</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- semantic ui -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- my style -->
    <link rel="stylesheet" href="./res/css/main.css">
</head>
<body>
    <div id="startup">
        <div id="spinner"></div>
        <h4 id="mobile-sorry" style="display:none;">Sorry, leider kann die Studie nicht auf mobilen Geräten oder Bildschirmen mit weniger als 1050 Pixel Breite durchgeführt werden.</h4>
    </div>
    <div id="app" style="display: none;">
        <main>
            <end-screen v-if="studyCompleted" :num-tasks-completed="numTasksCompleted">byebye for now</end-screen>
            <template v-else>
                <template v-if="demographicsSurveyCompleted">
                    <final-survey v-if="isFinalSurvey" @study-completed="showFinalScreen"></final-survey>
                    <template v-else>
                        <task-survey  v-if="isTaskSurvey" :task="currentTask" @task-survey-completed="finishCurrentTask"></task-survey>
                        <template v-else>
                            <study-introduction :is-first-task="isFirstTask" @show-agreements="agreementsOpen = true"></study-introduction>
                            <sui-message positive v-show="currentTask.isFinished && currentTask.surveyCompleted">
                                <sui-message-header>Task "{{currentTask.name }}" abgeschlossen</sui-message-header>
                                <p>Vielen Dank!</p>
                            </sui-message>
                            <study-controls @start-task="onStartTaskButtonClicked" @show-final-survey="showFinalSurvey" :allow-exit="allowExit" :is-first-task="isFirstTask" :task-list="taskList" :max-task-number="tasks.length" :num-tasks-completed="numTasksCompleted"></study-controls>
                        </template>
                    </template>
                </template>
                <demographics v-else @demographics-survey-completed="hideDemographicsSurvey"></demographics>
            </template>
        </main>
        <agreements v-model="agreementsOpen"></agreements>
    </div>
    
    <script type="text/x-template" id="study-controls-component-template">
        <sui-segment>
            <sui-progress indicating :percent="progressPercent" :label="progressLabel" />
            <sui-button v-show="!exitConfirmationIsVisible" @click="toggleExitConfirmation" :disabled="!allowExit && !allTasksComplete" :primary="allTasksComplete">Studie beenden</sui-button>
            <div v-show="exitConfirmationIsVisible" style="display: inline-block;">
                <h4 is="sui-header" style="display: inline-block; margin-right: 1rem;">Studie wirklich beenden?</h4>
                <div is="sui-button-group">
                    <sui-button @click="toggleExitConfirmation">Nein</sui-button>
                    <sui-button @click="$emit('show-final-survey')" primary>Ja</sui-button>
                </div>
            </div>
            <sui-button icon="right arrow" label-position="right" @click="$emit('start-task'); taskIsLoading = true;" positive floated="right" :disabled="allTasksComplete" :loading="taskIsLoading">{{ isFirstTask ? "Exploration starten" : "Nächster Task"}}</sui-button>
        </sui-segment>
    </script>
    
    <script type="text/x-template" id="study-introduction-component-template">
        <div>
            <sui-segment basic>
                <h1 is="sui-header">Willkommen zur Code-Review-Editor-Remote-Usability-Studie</h1>
            </sui-segment>
            <sui-segment :loading="rawMarkdown.length < 1">
                <sui-accordion fluid>
                    <sui-accordion-title :active="isFirstTask">
                        <sui-icon name="dropdown" />
                        Einführung und Informationen zur Studie
                    </sui-accordion-title>
                    <sui-accordion-content :active="isFirstTask">
                        <sui-container v-html="renderedMarkdown"></sui-container>
                        <sui-button basic size="tiny" @click="$emit('show-agreements')">Datenschutzerklärung und Impressum öffnen</sui-button>
                    </sui-accordion-content>
                </sui-accordion>
            </sui-segment>
        </div>
    </script>
    
    <script type="text/x-template" id="demographics-component-template">
        <div>
            <sui-segment basic>
                <h1 is="sui-header">Vorab-Fragebogen</h1>
            </sui-segment>
            
            <sui-segment color="blue">
                <h4 is="sui-header">
                    <sui-icon name="info circle" />
                    <sui-header-content>
                        Hinweis
                        <sui-header-subheader>Zunächst benötigen wir noch einige Kontextinformationen. Bitte antworte so wahrheitsgemäß wie möglich. Falls keine exakt passende Option für dich zur Verfügung steht, wähle einfach die naheliegendste.</sui-header-subheader>
                    </sui-header-content>
                </h4>
            </sui-segment>
            
            <sui-segment>
                <h2 is="sui-header">
                    <sui-header-content>
                        Demographie
                        <sui-header-subheader>Diese Angaben helfen uns die Repräsentativität der Studie zu bewerten.</sui-header-subheader>
                    </sui-header-content>
                </h2>
                <sui-divider />
                <sui-form size="large">
                    <sui-form-field inline>
                        <label>Alter</label>
                        <input v-model="results.age" type="number" required placeholder="0" min=0 max=99/>
                    </sui-form-field>
                    
                    <sui-form-field inline>
                        <label>Stundentenstatus</label>
                        <sui-dropdown placeholder="Studentenstatus" selection :options="survey.studentStatusOptions" v-model="results.studentStatus"/>
                    </sui-form-field>
                    
                    <sui-form-field inline :disabled="results.studentStatus === 3">
                        <label>Semester</label>
                        <input v-model="results.semester" type="number" required placeholder="0" min=0 max=99/>
                    </sui-form-field>
                </sui-form>
            </sui-segment>
            
            <sui-segment>
                <h2 is="sui-header">
                    <sui-header-content>
                        Vorerfahrung
                        <sui-header-subheader>Bei der Einschätzung der Studienergebnisse dienen uns diese Angaben als Kontext.</sui-header-subheader>
                    </sui-header-content>
                </h2>
                <sui-divider />
                <sui-form size="large">
                    <sui-form-fields inline>
                        <label>Hast du bereits Erfahrung mit Code-Reviews?</label>
                        <sui-form-field>
                            <sui-checkbox label="Ja" radio value="1" v-model="results.experience" />
                        </sui-form-field>
                        <sui-form-field>
                            <sui-checkbox label="Nein" radio value="0" v-model="results.experience" />
                        </sui-form-field>
                    </sui-form-fields>
                    
                    <sui-form-field :disabled="results.experience === '0'">
                        <label>Wo konntest du bereits Erfahrung mit Code-Reviews sammeln?</label>
                        <sui-dropdown selection multiple :options="survey.experienceOriginOptions" v-model="results.experienceOrigin" placeholder="Wo konntest du bereits Erfahrung mit Code-Reviews sammeln?" />
                    </sui-form-field>
                    
                    <sui-form-field :disabled="results.experience === '0'">
                        <label>Wie viel Vorerfahrung hast du mit Code-Reviews?</label>
                        <sui-table basic="very" celled collapsing unstackable class="center-in-container">
                            <sui-table-body>
                                <sui-table-row>
                                    <sui-table-cell text-align="right">{{ survey.experience.leftLabel }}</sui-table-cell>
                                    <sui-table-cell text-align="center">
                                        <sui-likert v-model="results.experienceReview" :range="survey.experience.likertRange"></sui-likert>
                                    </sui-table-cell>
                                    <sui-table-cell>{{ survey.experience.rightLabel }}</sui-table-cell>
                                </sui-table-row>
                            </sui-table-body>
                        </sui-table>
                    </sui-form-field>
                    
                    <sui-form-field :disabled="results.experience === '0'">
                        <label>Wie viel Programmiererfahrung hast du?</label>
                        <sui-table basic="very" celled collapsing unstackable class="center-in-container">
                            <sui-table-body>
                                <sui-table-row>
                                    <sui-table-cell text-align="right">{{ survey.experience.leftLabel }}</sui-table-cell>
                                    <sui-table-cell text-align="center">
                                        <sui-likert v-model="results.experienceCoding" :range="survey.experience.likertRange"></sui-likert>
                                    </sui-table-cell>
                                    <sui-table-cell>{{ survey.experience.rightLabel }}</sui-table-cell>
                                </sui-table-row>
                            </sui-table-body>
                        </sui-table>
                    </sui-form-field>
                </sui-form>
            </sui-segment>
            
            <sui-segment>
                <h2 is="sui-header">
                    <sui-header-content>
                        Selbsteinschätzung
                        <sui-header-subheader>Bitte entscheide bei den folgenden Aussagen so ehrlich und spontan wie möglich. Es gibt keine richtigen oder falschen Antworten.</sui-header-subheader>
                    </sui-header-content>
                </h2>
                <sui-divider />
                <sui-form size="large">
                    <sui-form-field>
                        <label>Ich traue mir zu hochwertige Code-Reviews zu erstellen.</label>
                        <sui-table basic="very" celled collapsing unstackable class="center-in-container">
                            <sui-table-body>
                                <sui-table-row>
                                    <sui-table-cell text-align="right">{{ survey.assessment.leftLabel }}</sui-table-cell>
                                    <sui-table-cell text-align="center">
                                        <sui-likert v-model="results.assessmentReview" :range="survey.assessment.likertRange"></sui-likert>
                                    </sui-table-cell>
                                    <sui-table-cell>{{ survey.assessment.rightLabel }}</sui-table-cell>
                                </sui-table-row>
                            </sui-table-body>
                        </sui-table>
                    </sui-form-field>
                    
                    <sui-form-field>
                        <label>Die Nutzung für mich unbekannter Anwendungen und Systeme fällt mir leicht.</label>
                        <sui-table basic="very" celled collapsing unstackable class="center-in-container">
                            <sui-table-body>
                                <sui-table-row>
                                    <sui-table-cell text-align="right">{{ survey.assessment.leftLabel }}</sui-table-cell>
                                    <sui-table-cell text-align="center">
                                        <sui-likert v-model="results.assessmentTools" :range="survey.assessment.likertRange"></sui-likert>
                                    </sui-table-cell>
                                    <sui-table-cell>{{ survey.assessment.rightLabel }}</sui-table-cell>
                                </sui-table-row>
                            </sui-table-body>
                        </sui-table>
                    </sui-form-field>
                    
                    <sui-form-field>
                        <label>Das Lesen und Verstehen von Programmcode fällt mir leicht.</label>
                        <sui-table basic="very" celled collapsing unstackable class="center-in-container">
                            <sui-table-body>
                                <sui-table-row>
                                    <sui-table-cell text-align="right">{{ survey.assessment.leftLabel }}</sui-table-cell>
                                    <sui-table-cell text-align="center">
                                        <sui-likert v-model="results.assessmentCode" :range="survey.assessment.likertRange"></sui-likert>
                                    </sui-table-cell>
                                    <sui-table-cell>{{ survey.assessment.rightLabel }}</sui-table-cell>
                                </sui-table-row>
                            </sui-table-body>
                        </sui-table>
                    </sui-form-field>
                    
                </sui-form>
            </sui-segment>
            
            <sui-segment basic aligned="right">
                <sui-button icon="save" label-position="left" @click="sendResults" primary :disabled="!isComplete">Speichern</sui-button>
            </sui-segment>
        </div>
    </script>
    
    <script type="text/x-template" id="task-survey-component-template">
        <div>
            <sui-segment basic>
                <h1 is="sui-header">Fragebogen zum Task: {{ task.name }}</h1>
            </sui-segment>
            
            <sui-segment>
                <h4 is="sui-header">
                    <sui-icon name="lightbulb outline" />
                    <sui-header-content>
                        Als Erinnerungshilfe
                        <sui-header-subheader>Falls du die Task-Beschreibung noch einmal durchlesen möchtest.</sui-header-subheader>
                    </sui-header-content>
                </h4>
                <sui-accordion fluid>
                    <sui-accordion-title>
                        <sui-icon name="dropdown" />
                        Task-Beschreibung zum Task: {{ task.name }}
                    </sui-accordion-title>
                    <sui-accordion-content>
                        <sui-container v-html="renderedTaskDescription"></sui-container>
                    </sui-accordion-content>
                </sui-accordion>
            </sui-segment>
            
            <sui-segment color="blue">
                <h4 is="sui-header">
                    <sui-icon name="info circle" />
                    <sui-header-content>
                        Hinweis
                        <sui-header-subheader>Danke für die Durchführung des Usability-Tasks! Bitte beantworte den folgenen Fragebogen so spontan und ehrlich wie möglich. Dieser Fragebogen bezieht sich auf den gerade von dir abgeschlossenen Usability-Task. Deine Meinung zur Usability und User-Experience des Systems ist uns wichtig. Bitte beachte: Wir bewerten nur die Anwendung, nicht die Nutzer:innen.</sui-header-subheader>
                    </sui-header-content>
                </h4>
            </sui-segment>
            
            <sui-segment>
                <h2 is="sui-header">
                    <sui-icon name="check" />
                    <sui-header-content>
                        Task Success
                        <sui-header-subheader>{{ taskSuccess.description }}</sui-header-subheader>
                    </sui-header-content>
                </h2>
                <sui-form size="large">
                    <sui-form-field inline>
                        <label>Task konnte erfolgreich abgeschlossen werden:</label>
                        <sui-dropdown placeholder="bitte auswählen" selection :options="taskSuccess.options" v-model="taskSuccess.value" />
                    </sui-form-field>
                </sui-form>
            </sui-segment>
            
            <sui-segment>
                <h2 is="sui-header">
                    <sui-icon name="clipboard" />
                    <sui-header-content>
                        {{ survey.title }}
                        <sui-header-subheader>{{ survey.description }}</sui-header-subheader>
                    </sui-header-content>
                </h2>
                <likert-table v-model="survey.items" :range="survey.likertRange"></likert-table>
            </sui-segment>
            
            <sui-segment basic aligned="right">
                <sui-button icon="save" label-position="left" @click="sendResults" primary :disabled="!isComplete">Ergebnisse abschicken</sui-button>
            </sui-segment>
            
        </div>
    </script>
    
    <script type="text/x-template" id="final-survey-component-template">
        <div>
            <sui-segment basic>
                <h1 is="sui-header">Abschlussfragebogen</h1>
            </sui-segment>
            
            <sui-segment color="blue">
                <h4 is="sui-header">
                    <sui-icon name="info circle" />
                    <sui-header-content>
                        Hinweis
                        <sui-header-subheader>Danke für die Bearbeitung der Usability-Tasks! Du hast es fast geschafft. Bitte beantworte den folgenen Fragebogen so spontan und ehrlich wie möglich. In diesem Fragebogen soll das System als ganzes - unabhängig von einzelnen Usability-Tasks - betrachtet werden.</sui-header-subheader>
                    </sui-header-content>
                </h4>
            </sui-segment>
            
            <sui-segment>
                <h2 is="sui-header">
                    <sui-icon name="clipboard" />
                    <sui-header-content>
                        {{ survey.title }}
                        <sui-header-subheader>{{ survey.description }}</sui-header-subheader>
                    </sui-header-content>
                </h2>
                <likert-table v-model="survey.items" :range="survey.likertRange"></likert-table>
            </sui-segment>
            
            <sui-segment basic aligned="right">
                <sui-button icon="sign out alternate" @click="sendResults" label-position="right" primary :disabled="!isComplete">Studie beenden</sui-button>
            </sui-segment>
        </div>
    </script>
    
    <script type="text/x-template" id="likert-table-component-template">
        <sui-table basic striped celled collapsing unstackable class="center-in-container">
            <sui-table-body>
                <sui-table-row v-for="(item, index) in value" :key="index">
                    <sui-table-cell v-if="item.question !== undefined">
                        <h4 is="sui-header">{{ item.question }}</h4>
                    </sui-table-cell>
                    <sui-table-cell text-align="right">{{ item.leftLabel }}</sui-table-cell>
                    <sui-table-cell text-align="center">
                        <sui-likert :inputValue="item.value" @input="bubbleEvent($event)" :range="range" :id="index.toString()"></sui-likert>
                    </sui-table-cell>
                    <sui-table-cell>{{ item.rightLabel }}</sui-table-cell>
                </sui-table-row>
            </sui-table-body>
        </sui-table>
    </script>
    
    <script type="text/x-template" id="likert-scale-component-template">
        <sui-form unstackable>
            <sui-form-fields inline style="margin: auto;">
                <sui-form-field v-for="index in rangeNumber" :key="index" style="padding-left: 8px; padding-right: 8px;">
                    <sui-checkbox radio :name="id" :value="index.toString()" :inputValue="inputValue" @change="bubbleEvent($event)"/>
                </sui-form-field>
            </sui-form-fields>
        </sui-form>
    </script>
    
    <script type="text/x-template" id="agreements-component-template">
        <sui-modal :open="open" loading>
            <sui-modal-header>
                Voraussetzungen und Datenschutz
            </sui-modal-header>
            <sui-modal-content scrolling>
                <sui-loader :active="text.length < 1" />
                <sui-container v-html="renderedMarkdown"></sui-container>
            </sui-modal-content>
            <sui-modal-actions>
                <sui-checkbox toggle label="Ich erfülle die Voraussetzungen und stimme den Datenschutzvereinbarungen zu." v-model="isChecked"></sui-checkbox>
                <sui-button positive @click.native="saveAgreement" :disabled="!isChecked">
                    Speichern
                </sui-button>
            </sui-modal-actions>
        </sui-modal>
    </script>
    
    <script type="text/x-template" id="end-screen-component-template">
        <div>
            <sui-segment basic>
                <h1 is="sui-header">Studie beendet</h1>
            </sui-segment>
            <sui-message positive>
                <sui-message-header>Vielen Dank</sui-message-header>
                <p>Vielen Dank für deine Teilnahme!</p>
            </sui-message>
            <sui-segment v-show="!feedbackWasSent">
                <h4 is="sui-header">
                    <sui-icon name="bullhorn" />
                    <sui-header-content>
                        Feedback
                        <sui-header-subheader>Hinterlasse dein Feedback zur Studie und/oder dem Code-Review-Editor.</sui-header-subheader>
                    </sui-header-content>
                </h4>
                <sui-form>
                    <sui-form-field>
                        <textarea v-model.trim="feedback" placeholder="Bitte weise uns auch unbedingt auf Bugs hin, wenn dir welche begegnet sind..."></textarea>
                    </sui-form-field>
                </sui-form>
                <sui-button icon="save" label-position="left" @click="sendFeedback" primary :disabled="feedback.length < 1">Feedback abschicken</sui-button>
            </sui-segment>
            <sui-message positive v-show="feedbackWasSent">
                <p>Vielen Dank für dein Feedback!</p>
            </sui-message>
            <sui-segment v-if="numTasksFinished > 0" color="green">
                <h4 is="sui-header">
                    <sui-icon name="handshake" />
                    <sui-header-content>
                        VP-Stunden
                        <sui-header-subheader>Danke für deine Tailnahme an unserer Studie! Trage dich unter dem folgenden Link ein, um deine {{numTasksFinished * 0.25}} VP-Stunden zu erhalten.</sui-header-subheader>
                    </sui-header-content>
                </h4>
                <sui-segment aligned="center" basic>
                    <a is="sui-label" color="green" :href="linkList[numTasksFinished - 1]" floated="center">
                        <sui-icon name="external alternate" />
                        {{ linkList[numTasksFinished - 1] }}
                        <sui-label-detail>{{numTasksFinished * 0.25}} VP-Stunden</sui-label-detail>
                    </a>
                </sui-segment>
            </sui-segment>
        </div>
    </script>
    
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- vue semantic ui -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui-vue@0.11.0/dist/umd/semantic-ui-vue.min.js"></script>
    <!-- js utilities -->
    <script src="https://cdn.jsdelivr.net/gh/jitbit/HtmlSanitizer@master/HtmlSanitizer.js"></script>
    <script type="text/javascript" src="./res/js/utils/sui-likert-scale.js"></script>
    <!-- app -->
    <script type="module" src="./res/js/main/main.js"></script>
</body>
</html>